* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 360px;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
